.DS_Store
.idea
.idea/

*.pyc
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
	
build/
dist/
sap_explainable_ai.egg-info/

**/.ipynb*
**/*.pdf
**/*.html
xai/formatter/portable_document/fonts/*.pkl

doc/build
doc/source/data
doc/source/explainer
doc/source/formatter
doc/source/model


