.DS_Store
.idea
.idea/

*.pyc
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
	
build/
dist/
sap_explainable_ai.egg-info/

**/.ipynb*
**/*.pdf
**/*.html
xai/formatter/portable_document/fonts/*.pkl

tutorials/compiler/titanic/gender_submission.csv
tutorials/compiler/titanic/model.pkl
tutorials/compiler/titanic/result.csv
tutorials/compiler/titanic/titanic.csv
tutorials/compiler/titanic/train_data.csv

tutorials/compiler/titanic2/gender_submission.csv
tutorials/compiler/titanic/model.pkl
tutorials/compiler/titanic2/train_data.csv
tutorials/compiler/titanic2/*.pkl
tutorials/compiler/titanic2/result.csv
tutorials/compiler/titanic2/y_conf.csv
tutorials/compiler/titanic2/y_true.csv

tutorials/compiler/automobile/model.pkl
tutorials/compiler/automobile/train_data.csv

doc/build
doc/source/data
doc/source/explainer
doc/source/formatter
doc/source/model


