####################################################################
# WhiteSource Unified-Agent configuration file for Python
# GENERAL SCAN MODE: Package Managers only
####################################################################

# !!! Important for WhiteSource "DIST - *" Products:
# Please set
#   checkPolicies=false
#   forceCheckAllDependencies=false
# since Policy checks are not applicable for Security scans and also
# not suitable for DIST category. CheckPolicies just cover IP scan
# related license checks for SAP hosted cloud products only ("SHC - *").
checkPolicies=true
forceCheckAllDependencies=true

# forceUpdate parameter is important and need to be true
forceUpdate=true

# Used only if 'forceUpdate' is set to true.
# If the flag is true, the Unified Agent exit code will be the result of the policy check.
# If the flag is false, the Unified Agent exit code will be the result of the scan.
forceUpdate.failBuildOnPolicyViolation=false
# offline parameter is important and need to be false
offline=false

# ignoreSourceFiles parameter is important and need to be true
ignoreSourceFiles=true
# resolveAllDependencies parameter is important and need to be false
resolveAllDependencies=false
#wss.connectionTimeoutMinutes=60
# URL to your WhiteSource server.
wss.url=https://saas.whitesourcesoftware.com/agent

# resolveDependencies parameter is important and need to be true
python.resolveDependencies=true
# ignoreSourceFiles parameter is important and need to be true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=false
python.installVirtualenv=true
python.resolveHierarchyTree=true
python.requirementsFileIncludes=requirements.txt
python.resolveSetupPyFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=false
# Starting with version 19.4.2 there is a new parameter python.indexUrl (same as index_url in WS Python Plugin)
#python.indexUrl=
##################################
# Organization tokens:
##################################
# ! In case of PIPER, apiKey may not be used in this configuration,
#   but set in configuration of piper.
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
apiKey=

# userKey is required if WhiteSource administrator has enabled "Enforce user level access" option.
# ! In case of PIPER, apiKey may not be used in this configuration,
#   but set in configuration of piper.
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
userKey=

projectName=sap-explainable-ai
projectVersion=
projectToken=

productName=SHC - LEO AI BUSVC XAI OD 1.0
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.py **/*.txt

## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true
